:root {
  --main-bg-color: #e4ebf5;
  --large-font-size: 48px;
  --medium-font-size: 28px;
  --main-font-size: 18px;
}

.debug-border {
  border: red solid 2px;
}

.title,
.secondary-title,
.new-todo-text-box,
.tasks-remaining-label,
.slider-label {
  font-style: normal;
  font-weight: bold;
  color: #565c72;
}

.bg-grey {
  background: var(--main-bg-color);
}

.secondary-title {
  font-size: var(--main-font-size);
  line-height: var(--large-font-size);
  text-align: right;
}

.tasks-remaining-label {
  line-height: 66px;
  font-size: var(--medium-font-size);
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .tasks-remaining-label {
    font-size: var(--medium-font-size);
  }
}

@media screen and (max-width: 991px) {
  .tasks-remaining-label {
    font-size: var(--main-font-size);
  }
}

@media screen and (min-width: 701px) {
  .title {
    line-height: var(--large-font-size);
    font-size: var(--large-font-size);
  }
}

@media screen and (max-width: 700px) {
  .title {
    line-height: var(--medium-font-size);
    font-size: var(--medium-font-size);
  }
}

.horizontal-space {
  height: 100vh;
}

.vertical-space {
  height: 5vh;
}

.new-todo-text-box {
  line-height: 92px;
  background: var(--main-bg-color);
  box-shadow: inset 5px 5px 30px #d1d9e6, inset -5px -5px 10px #fdfdfe;
  border-radius: 50px;
  width: 100%;
  padding-left: 100px;
  margin-top: 20px;
  font-size: var(--main-font-size);
}

.arrow-button {
  bottom: 2px;
  right: 2px;
  position: absolute;
}

.colorful-circle-button {
  bottom: 5px;
  left: 7px;
  position: absolute;
}

.colorful-circle {
  top: 12px;
  right: 24px;
  position: absolute;
  pointer-events: none;
}

.trashcan-button {
}

.slider {
  background: var(--main-bg-color);
  box-shadow: -30px -30px 60px #f8f9fc, 25px 25px 60px #c5d1e7,
    inset -2px -2px 10px #fafbfd, inset 5px 5px 10px #dbe2ec;
  border-radius: 50px;
  height: 66px;
  width: 100%;
}

.relative-position {
  position: relative;
}

.no-padding {
  padding: 0 !important;
}

.relative-pos-point {
  position: relative;
  height: 0;
  width: 100%;
}

.top-margins {
  margin-top: 30px !important;
}

.slider-button {
  position: absolute;
  top: -1px;
  width: 40%;
}

.slider-image {
  width: 100%;
  height: 66px;
}

.slider-label {
  text-align: center;
  font-size: var(--main-font-size);
  line-height: 66px;
  pointer-events: none;
}

.slider-labels-area {
  position: absolute;
  width: 98%;
  margin-left: 1% !important;
  margin-right: 1% !important;
}
