:root {
  --main-bg-color: #e4ebf5;
  --large-font-size: 48px;
  --medium-font-size: 28px;
  --main-font-size: 18px;
  --main-font-color: #565c72;
  --hand-cursor-pointer: url(../images/cursor_hand.svg), pointer;
}

.debug-border {
  border: red solid 2px;
}

.title,
.secondary-title,
.new-todo-text-box,
.tasks-remaining-label,
.slider-label,
.task-record {
  font-style: normal;
  font-weight: bold;
  color: var(--main-font-color);
}

.bg-grey {
  background: var(--main-bg-color);
}

.secondary-title {
  font-size: var(--main-font-size);
  line-height: var(--large-font-size);
  text-align: right;
}

.tasks-remaining-label {
  line-height: 66px;
  font-size: var(--medium-font-size);
  vertical-align: middle;
  z-index: 100;
}

@media screen and (min-width: 992px) {
  .tasks-remaining-label {
    font-size: var(--medium-font-size);
  }
}

@media screen and (max-width: 991px) {
  .tasks-remaining-label {
    font-size: var(--main-font-size);
  }
}

.title {
  line-height: var(--large-font-size);
  font-size: var(--large-font-size);
}

.horizontal-space {
  height: 100vh;
}

.vertical-space {
  height: 5vh;
}

.new-todo-text-box {
  line-height: 92px;
  background: var(--main-bg-color);
  box-shadow: inset 5px 5px 30px #d1d9e6, inset -5px -5px 10px #fdfdfe;
  border-radius: 50px;
  width: 100%;
  padding-left: 100px;
  padding-right: 90px;
  margin-top: 20px;
  font-size: var(--main-font-size);
  border-style: none;
}

::placeholder {
  color: var(--main-font-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--main-font-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--main-font-color);
}

.arrow-button {
  bottom: 2px;
  right: 2px;
  position: absolute;
  cursor: var(--hand-cursor-pointer);
}

.colorful-circle-button {
  bottom: 2px;
  left: 7px;
  position: absolute;
  cursor: var(--hand-cursor-pointer);
}

.colorful-circle {
  top: 12px;
  right: 24px;
  position: absolute;
  pointer-events: none;
}

.slider {
  background: var(--main-bg-color);
  box-shadow: -30px -30px 60px #f8f9fc, 25px 25px 60px #c5d1e7,
    inset -2px -2px 10px #fafbfd, inset 5px 5px 10px #dbe2ec;
  border-radius: 50px;
  height: 66px;
  width: 100%;
  cursor: var(--hand-cursor-pointer);
  z-index: 50;
}

.relative-position {
  position: relative;
}

.no-padding {
  padding: 0 !important;
}

.relative-pos-point {
  position: relative;
  height: 0;
  width: 100%;
}

.top-margins {
  margin-top: 30px !important;
}

.slider-button {
  position: absolute;
  top: -1px;
  width: 40%;
}

.slider-image {
  width: 100%;
  height: 66px;
}

.slider-label {
  text-align: center;
  font-size: var(--main-font-size);
  line-height: 66px;
  pointer-events: none;
}

.slider-labels-area {
  position: absolute;
  width: 100%;
  padding-left: 5%;
  padding-right: 2%;
  box-sizing: border-box;
}

.tasks-window {
  position: absolute;
  width: 100%;
  height: 494px;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  padding-left: 0 !important;
  padding-right: 5px !important;
  box-sizing: border-box;

  background: #e4ebf5;
  box-shadow: -30px -30px 60px #f8f9fc, 25px 25px 60px #c5d1e7,
    inset -2px -2px 10px #fafbfd, inset 5px 5px 10px #dbe2ec;
  border-radius: 50px;
}

.task-record {
  padding-left: 30px;
  line-height: 75px;
  height: 75px;
  width: 100%;
  vertical-align: middle;
  font-size: var(--main-font-size);
  cursor: var(--hand-cursor-pointer);
  box-sizing: border-box;
}

.task-record-label {
  margin-left: 30px;
  pointer-events: none;
}

.task-record-bullet {
  position: absolute;
  left: 30px;
  top: 40%;
  height: 15px;
  width: 15px;

  border: 1px solid #e4ebf5;
  box-sizing: border-box;
  box-shadow: -30px -30px 60px #f8f9fc, -5px -5px 10px #f8f9fc,
    5px 5px 10px #c5d1e7;
  border-radius: 50px;
}

.task-record-bullet-checkmark {
  position: absolute;
  opacity: 0.8;
}

.bg-cyan {
  background: #5ed8e7;
}

.bg-pink {
  background: #f97677;
}

.bg-green {
  background: #a3f1e0;
}

.bg-red {
  background: #ff5b5a;
}

.bg-yellow {
  background: #e0fb5f;
}

.record-checkbox {
  position: absolute;
  top: -15px;
  right: 0;
}

.line-between-records {
  position: absolute;
  left: 4.19%;
  right: 3.84%;
  height: 0;
  border: 2px solid #dfe6ef;
  box-shadow: 0px 1px 2px #f7f8fb;
  z-index: 50;
}

.task-done {
  opacity: 0.5;
}

.task-done-text {
  text-decoration-line: line-through;
  color: #9cacc6;
}

.selected-record {
  background: linear-gradient(
      360deg,
      #ffffff -76%,
      rgba(255, 255, 255, 0) 38.67%
    ),
    linear-gradient(360deg, #e4ebf5 58%, #d1dae8 100%);
}

.trashcan-button {
  position: absolute;
  right: -134px;
  top: -10px;
  cursor: var(--hand-cursor-pointer);
  z-index: 50;
}
